<h1>veeresh</h1>
<div class="container p-3">
  <div class="row">
    <div class="col-12">
      
      <form [formGroup]="form" (submit)="submit()">
        <div class="card">
        
          <div class="card-body">
            <div class="row">
              <label>Assessment</label>
              <select class="form-control" type="text" formControlName="assessmentId"
                  id="listAssessmentName" required>
                  <option value="">Select Assessment</option>
                  <option *ngFor="let assessment of assessments" value=" {{assessment.assessmentId}}">
                      {{assessment.assessmentName}}
                  </option>
              </select>
            </div>
          </div>
          <div class="card-header">Question</div>
          <div class="card-body" formArrayName="questions">
            <div class="row">
              <div class="col-6" *ngFor="let question of questionFormGroup.controls; let i = index;">
                <div [formGroupName]="i" class="row">
                  <div class="form-group col-6">
                    <label>Question Type</label>
                    <select class="form-control" formControlName="questionType"  #questionTypeId (change)="loadQuestionType($event)" type="text">
                      <option disabled value="">Select Question Type</option>
                      <option value="1">Radio</option>
                      <option value="2">CheckBox</option>
                      <option value="3">Shortans</option>
                      <option value="4">Dropdown</option>
                      <option value="5">LinearScale</option>
                      <option value="6">Date</option>
                      <option value="7">Time</option>
                      <!-- <option *ngFor="let questionsType of questionsTypes" [value]="questionsType.questionTypeId">
                        {{questionsType.questionType}}
                      </option> -->
                    </select>
                  </div>

                  <div class="form-group col-6">
                    <label>Question Name</label>
                    <input class="form-control" formControlName="questionName" type="text">
                    <span class="text-danger" *ngIf="getQuestionsFormGroup(i).controls['questionName'].touched && getQuestionsFormGroup(i).controls['questionName'].hasError('required')">
                      Label is required! </span>
                  </div>

                  <div *ngIf="questionTypeId.value === '2'  || questionTypeId.value === '4' || questionTypeId.value === '1'">
                    <div class="form-group-12">
                        <label>Options</label><br>
                        <input type="text" class="form-control"  formControlName="option1" placeholder="Option One"/><br><br>
                        <input type="text" class="form-control"  formControlName="option2" placeholder="Option Two"/><br><br>
                        <input type="text" class="form-control"  formControlName="option3" placeholder="Option Three"/><br><br>
                        <input type="text" class="form-control"  formControlName="option4" placeholder="Option Four"/><br><br>
                    </div>
                  </div>
                  
                  <div>
                      <div class="form-group col-12">
                          <label>Answer.</label>
                          <input class="form-control" formControlName="answer" type="text">
                          <span class="text-danger" *ngIf="getQuestionsFormGroup(i).controls['answer'].touched && getQuestionsFormGroup(i).controls['answer'].hasError('required')">
                              Answer field is required</span>
                      </div>
                  </div>
        
                  <div class="form-group col-12 text-right">
                      <button class="btn btn-success" [disabled]="getQuestionsFormGroup(i).invalid" type="button" (click)="insertQuestion(i)"> Save </button>&nbsp;
                      <button class="btn btn-success" type="button" (click)="cloneQuestion(i)"> Clone </button>&nbsp;
                      <button class="btn btn-danger" type="button" (click)="removeQuestion(i)"> Remove </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="col-12">
              <button class="btn btn-primary m-1" type="button" (click)="addQuestion()"> Add Question </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>