#addassessment{
    margin-top: 2%;
}

.custom-select{
    margin-top:6%;
    width: 60%;
    color: rgb(10, 8, 7);
    font-size:large;
    border: 0;
    border-bottom: 2px solid rgb(10, 8, 7);
}

#assessmentName{
    margin-top:6%;
    border: 0;
    border-bottom: 2px solid rgb(10, 8, 7);
    width: 50%;
}

#question{
    margin-top:6%;
    border: 0;
    border-bottom: 2px solid rgb(10, 8, 7);
    width: 50%;
}

#assessmentActive{
    margin-top: 4%;
    margin-left: 4%;
}

#addAsmnt{
    margin-right: 3%;
}

#deleteAsmnt{
    margin-right: 30%;
}

.questionType-select{
    margin-right: 25%;
    margin-top:6%;
    color: rgb(10, 8, 7);
    border: 0;
    border-bottom: 2px solid rgb(10, 8, 7);
}