.timmer{
    font-size: 30px;
    color:black;
    margin-right: 10%;
}
#preview{
    margin-top: 20%;
}
.time{
    text-align: right;
}
#question-margin{
    margin-top:10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 15pc;
}
#q1{
    border: 0;
    border-bottom: 2px solid rgb(10, 8, 7);
}
#fas{
    height: 18px;
    padding-left: 600px;
    padding-right: 10px;
}
#textbox{
    width: 25pc;
    height: 5pc;
}
.submitTest{
    margin-bottom: 20%;
}
.assessmentWindow{
    padding: 10px;
}